<h1>Triangles</h1>
<form action="/triangles">
  <input id="side_1" name="side_1" type="number">
  <input id="side_2" name="side_2" type="number">
  <input id="side_3" name="side_3" type="number">
  <button type="submit">Submit</button>
</form>
