<!DOCTYPE html>
<html>
  <head>
    <title>Triangle?</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./main.css"
  </head>
  <body>
    <div class="container">
      <h1>Triangles</h1>
      <div class="col-md-4 col-md-offset-6">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
